// Legacy styles to come before all
@import './styles/_legacy/index';

// Prefix all styles with "kbn" to avoid conflicts.
// Examples
//   kbnChart
//   kbnChart__legend
//   kbnChart__legend--small
//   kbnChart__legend-isLoading

@import './accessibility/index';
@import './agg_table/index';
@import './chrome/index';
@import './collapsible_sidebar/index';
@import './directives/index';
@import './doc_table/index';
@import './doc_viewer/index';
@import './error_allow_explicit_index/index';
@import './error_auto_create_index/index';
@import './error_url_overflow/index';
@import './exit_full_screen/index';
@import './field_editor/index';
@import './inspector/index';
@import './kbn_top_nav/index';
// @import './timepicker/index';
@import './markdown/index';
@import './notify/index';
@import './partials/index';
@import './query_bar/index';
@import './share/index';
@import './filter_bar/index';
@import './style_compile/index';

// The following are prefixed with "vis"

// Can't import vis folder here because of cascading issues, it's imported in core_plugins/kibana
// @import './vis/index';
@import './vislib/index';
@import './visualize/index';

.euiListGroupItem {
    &:hover,&:active,&:visited,&:link {
      background: #358AFF !important;
    }
  }
  .euiListGroupItem-isActive {
    background: #358AFF !important;
  }
  .kbnTopNav__mainMenu .kuiLocalMenuItem:not(.kuiLocalMenuItem-isDisabled) {
    color: #fff;
    background: #30A6FB;
    width: 70px; 
    margin: 5px;
    border-radius: 5px;
    padding: 2px 20px;
}
.euiAvatar{
    border-radius: 20px;
    background: #4B4B4B !important;
    color: #fff !important;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
.euiHeaderSectionItem:after{
    display: none !important
}
.euiListGroupItem__text, .euiListGroupItem__button{
    padding: 8px 6px !important
}
.euiNavDrawerGroup__item .euiListGroupItem__icon{
    max-width: 20px !important;
}
.euiNavDrawerGroup__item .euiListGroupItem__button{
    color: #fff !important
}